<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ ('bundles/main/css/reset.css') }}"/>
            <link rel="stylesheet" href="{{ ('bundles/main/css/style.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <h1>ce que je veux </h1>
    <div id="wrapper-main">
        <div id="wrapper-left"></div>
        <div id="menu">
            <ol>
                <li class="menu-item">Accueil</li>
                <li class="menu-item">Les enchères</li>
                <li class="menu-item">Le classement</li>
            </ol>
        </div>
        <div id="block-main">
            {% block content %}{% endblock %}
        </div>
        <div id="wrapper-right"></div>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
