{% extends "::base.html.twig" %}
{% block title %} Accueil {% endblock %}
{% block content %}

        <div id="actu">
            <h2 class="header_title">L'actualité du jeu</h2>
        </div>
        <div id="last-container">
            <h3 class="header_title radius-top">Les derniers conteneurs ajoutés</h3>
        </div>


{% endblock %}