{% extends "::base.html.twig" %}
{% block body %}
<h1>ce que je veux </h1>
<div id="wrapper-main">
    <div id="wrapper-left"></div>
    <div id="menu">
        <ol>
            <li class="menu-item">Accueil</li>
            <li class="menu-item">Les enchères</li>
            <li class="menu-item">Le classement</li>
        </ol>
    </div>
    <div id="wrapper-right"></div>
</div>
{% endblock %}